<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<div class="container">
  <h2>My tasks</h2>
  <ul class="tasks list-unstyled mt-3"><% @tasks.each do |task| %>
    <li>
      <div class=task>
        <p><% if task.completed? %>
          <i class="far fa-check-square"></i>
          <span><%= link_to task.title, task_path(task) %></span>
          <%= link_to "<i class='fas fa-trash-alt p-1'></i>".html_safe, task_path(task), method: :delete, data: {confirm: "Are you sure?"} %></p>
        <% else %>
          <i class="far fa-square"></i>
          <span><%= link_to task.title, task_path(task) %></span>
          <%= link_to "<i class='fas fa-trash-alt p-1'></i>".html_safe, task_path(task), method: :delete, data: {confirm: "Are you sure?"} %></p>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
  
  <div class="border-top">
    <i class="fas fa-plus"></i>
    <span><%= link_to "Add a new task", tasks_new_path  %>
    </span>
  </div>
  
</div>



